.numero{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 8px;
    background-color: rgb(228,228,0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
.operacao{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 8px;
    background-color: rgb(111, 199, 130);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
.fix{
    padding-right: 68px;
    padding-left: 68px;
}
.fix2{
    padding-right: 63px;
    padding-left: 63px;
}
.flex{
    display: flex;
}