.numero{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 8px;
    background-color: rgb(228,228,0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
.operacao{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 8px;
    background-color: rgb(111, 199, 130);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
.displayer{
    background-color: rgb(127, 255, 212);
    padding: 36px;
    margin: 8px;
    font-size: 32px;
}
.fix{
    padding-right: 67.5px;
    padding-left: 67.5px;
}
.fix2{
    padding-right: 63px;
    padding-left: 63px;
}
.fix3{
    padding-right: 66.5px;
    padding-left: 66.5px;
}
.flex{
    display: flex;
}
.master{
    background-color: brown;
}