.numero{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 8px;
    background-color: rgb(228,228,0);
    font-family: 'Pixel';
    font-size: 32px;
    border-radius: 8px;
}
.operacao{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 8px;
    background-color: rgb(111, 199, 130);
    font-family: 'Pixel';
    font-size: 32px;
    border-radius: 8px;
}
.enter{
    padding-right: 240px;
    padding-left: 240px;
}
.displayer{
    display:block;
    background-color: rgb(127, 255, 212);
    padding: 48px;
    margin: 8px;
    font-size: 32px;
    border-radius: 8px;
    font-family: 'Pixel';
}
.fix{
    padding-right: 67.5px;
    padding-left: 67.5px;
}
.fix2{
    padding-right: 63px;
    padding-left: 63px;
}
.fix3{
    padding-right: 66.5px;
    padding-left: 66.5px;
}
.fix4{
    padding-right: 68px;
    padding-left: 68px;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.master{
    display:block;
    background-color: brown;
}
@font-face {
    font-family: "Pixel";
    src: url(PressStart2P-Regular.ttf);
}